* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
}

nav {
  background-color: #e3f2fd;
  border-bottom: 3px solid #2196f3;
}

/* Add new food form  */
#addFood,
#addStudent {
  max-width: 600px;
  margin: 0 auto;
}

.showFood,
.showStudent {
  max-width: 900px;
  margin: 0 auto;
}
